<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Lab 2</title>
</head>
<body>
    {{> nav}}
    <img src="images/trees.jpg" height="300px">
    <p>
        Use that to your advantage. We'll let our imaginations take us wherever we want to go today. Let the brush play and have fun -- let it go! Always start with a clean brush in a light area and work outward. Now we'll fluff it. Learn to control it. Now things are going to start happening. We're like drug dealers -- we come into town and get people absolutely addicted to painting. Let them have a good time in your world. All these fantastic things... they just sorta happen.
    </p>
    <p>
        Mountains are so simple that they're hard! Let's have a big cloud! Think like a tree when you do these. We don't know where it goes. Great time! Everybody needs to sing in the sunshine! I want to do something that's just a little bit different, and I think you'll find it's fun. I lived in Alaska for many, many years. Don't be afraid of this big brush. The joy of painting really is universal.
    </p>
</body>
</html>