<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 2 Form</title>
</head>
<body>
    {{> nav}}
    <form action="/L2results" method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="email" name="email"><br>
        Comments:<br>
        <textarea name="comments"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>