<center>
    <h1>Project Manager</h1>
    <nav>
        <ul>
            <li><a href="index"><input type="button" class="btn btn-success" value="Index"></a></li>
            <li><a href="clock"><input type="button" class="btn btn-success" value="Timecard"></a></li>
        </ul>
    </nav>  
</center><br />