<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
    {{> header}}
            
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{displayProjects}}
                <tr>
                    <form method="post" action="">
                        <td><input type="text" value="{{name}}" name="add" class="form-control" id="projectName" /></td>
                        <td><input type="submit" class="btn btn-primary" value="{{type}} Project" /></td>
                        <td>{{cancel}}</td>
                    </form>
                </tr>
            </tbody>
        </table>
            
        <center><a href=""><input type="button" class="btn btn-success" value="Back to Top"></a></center><br /><br/><br/>
</body>
</html>